:root {

}

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    background-color: #F5E6E8;
    box-sizing: border-box;
}

/*Cabecera*/

header {
    margin-top: 1rem;
    /* height: 5rem; */
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.cabecera__caja {
    display: flex;
    align-items: center;
}

.cabecera__logo {
    width: 3rem;
    cursor: pointer;
    margin-left: 5rem;
}

.cabecera__titulo {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 1rem;
    cursor: pointer;
    color: #192A51;
}

.navegacion__lista {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;
    margin-right: 5rem;
    flex: 1;
}

.navegacion__lista li {
    list-style: none;
}

.navegacion__lista li a {
    text-decoration: none;
    color: #192A51;
    font-weight: 500;
}

.navegacion__lista li a:hover {
    color: #586da1;
    transition: color 0.3s ease-out; 
}

/*Presentación*/

.presentacion {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    background-image: url(./imagenes/aves.jpg);
    height: 47.3rem;
    background-size: 150%;
    animation: movimiento 10s infinite linear alternate;
}

.presentacion__tarjeta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 10rem; */
    /* background-image: url(/imagenes/aves.jpg);
    height: 46rem;
    background-size: 150%;
    animation: movimiento 10s infinite linear alternate; */
    position: relative;
    color: #ffffff;
}

.capa-gradiente {
    width: 100%;
    height: 90%;
    position: absolute;
    background: -webkit-linear-gradient(left, black, #eeeeee);
    opacity: 0.5;
}

.contenedor-detalles {
    width: 100%;
    max-width: 70rem;
    margin: auto;
}

.presentacion__contenedor h2 {
    font-size: 3rem;
    font-weight: 700;
}

.presentacion__contenedor h5 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(#192A51);
}

.presentacion__contenedor h6 {
    margin: 0;
    padding-left: 5rem;
    margin-left: 5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(#192A51);
}



.presentacion__imagen img{
    border-radius: 50px;
    margin-right: 1rem;
    height: 50vh;
    padding: 2%;
}

/* SOBRE MI */
.sobre-mi {
    /* width: 100vb;
    height: 15vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 3rem;
    text-align: center;
    gap: 0.5rem;;
    
}

.contenedor-mi {
    margin: auto;
}

.sobre-mi__texto {
    margin-bottom: 0rem;
    font-size: 1rem;
    font-weight: 400;
    color: gray;
}

/* Aficiones */

.aficiones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.aficiones__contenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
}

.aficiones__lista li {
    list-style: none;
}

.aficiones__lista {
    display: grid; /* Habilita el grid */
    grid-template-columns: repeat(2, 1fr); /* Crea dos columnas de igual ancho */
    gap: 50px; /* Espacio entre los elementos */
}

/* skills */
.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
    gap: 2rem;
}

.habilidades__uso, .idiomas{
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.habilidades__uso {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10rem;
}

.habilidades__titulo {
    font-size: 1.5rem;
    font-weight: 700;
}

.idiomas__lista {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 3rem;
    column-gap: 10rem;
}

.idiamos__caja {
    margin: 0px;
}

.formacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5rem;
    gap: 1rem;
}

.formacion__lista li{
    list-style: none;
    background: center center transparent;
}

/* portafolio */

.proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}

/*
.imagen-titulo {
    position: relative;
    width: 100%;
}

.imagen-fondo {
    height: 5rem;
    width: 100%;
    object-fit: none;
} */

.contenedor-portada {
    width: 100%;
    height: 5rem;
    position: relative;
    background-image: url(./imagenes/colores.jpg);
}

.degradado {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, #192A51, #586da1);
    opacity: 0.5;
}

.container-detalles {
    width: 100%;
    max-width: 70rem;
    margin: auto;
}

.detalles {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    color: #ffffff;
}

.portafolio {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.portafolio .portafolio-uno {
    height: 100%;
}

.portafolio img {
    width: 100%;
}

/* .portafolio {
    display: block; 
    height: 20.0625rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none; 
    transition: transform 0.3s ease; 
} */

.portafolio a:hover {
    transform: scale(1.1); 
}

/* contacto */
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 70%;
}

.presentacion__contacto {
    margin-top: 3rem;
}

form input,
form textarea{
    padding: 0.5rem  1rem;
    background-color: transparent;
    color: #192A51;
    border: none;
    border-bottom: 0.1rem solid #192A51;
    border-left: 0.1rem solid #192A51;
    width: 60%;
    outline: none;
    font-size: 1rem;
    resize: none;
} 

form input::placeholder,
form textarea::placeholder{
    font-size: 1rem;
}

form button{
    background-color: transparent;
    padding: .5rem  1.5rem;
    border: none;
    border-inline: 0.1rem solid #192A51;
    font-size: 1rem;
    cursor: pointer;
}
form button:hover{
    background-color: #967AA1;
    transition: background-color 0.3s ease; 
}

form #comment{
    height: 100px;
}
form p{
    margin-left: 0px;
    font-size: 0.875rem; 
}

.usuario{
    text-decoration: none;
    font-weight: bold;
    color:#ffffff;
}

/* pie de mapgina */
.container{
    width: min(90%,1220px);
    margin-inline: auto;
}

footer a{
    text-decoration: none;
    color: #ffffff;
}

footer{
    margin-top: 5rem;
    background-color: #000;
    color: #ffffff;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social{
    display: flex;
    gap: 1rem;
}

.footer-info p{
    font-size: 1rem;
    line-height: 1.2rem;
    color: #d7d7d7;
}


@keyframes movimiento{
    from{
        background-position: bottom left;
    }
    to {
        background-position: top right;
    }
}

@media (max-width: 768px){
    header{
        margin-top: 0;
        background-color: black;
       height: 3rem;
    }

    .navegacion {
        height: 100%;
        align-items: center;
    }

    .navegacion .cabecera__logo {
        display: block;
        width: 2rem;
    }

    .navegacion__lista {
        height: 210px;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #1c1918;
        margin-top: 16rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-top:1px solid #d7d7d7;
        padding-top: 2rem;
        gap: 2rem;
        transition: transform 100ms ease-in-out ;
    }

    .navegacion__lista .btn{
        width: 100%;
        border-radius: 0;
    }

    .humburger{
        display: block;
    }

    .humburger i{
        color: #ffffff;
        position: absolute;
        right: 5%;
        top: 1%;
        font-size:1.5rem ;
    }

    .humburger i[data-visible="false"]{
        display: none;
    }

    .humburger i[data-visible="true"]{
        display: block;
    }

    .presentacion__imagen {
        display: none;
    }

    .presentacion {
        height: calc(100vh - 3rem);
        margin-top: 0;
        background: url(./images/Background.jpg)center/cover no-repeat;
        justify-content: center;
        align-items: center;
    }

    .contenedor-detalles {
        height: 100%;
        justify-content: center;
        color: #ffffff;
    }

    .habilidades__uso {
        grid-template-columns: repeat(2,1fr);
    }

    .portafolio {
        grid-template-columns: repeat(2,1fr);
    }

    form {
        width: 100%;
    }
}

@media (max-width: 480px){
    .aficiones__contenedor{
        grid-template-columns: 1fr;
    }

    .idiomas__lista{
        grid-template-columns: 1fr;
    }

    .portafolio{
        grid-template-columns: 1fr;
    }
    form {
        width: 100%;
    }
}
